<div fxLayoutAlign="center">
  <mat-card class="mat-card">
    <mat-card-content>
      <div fxLayoutAlign="row">
        <h2 fxFlex="30%">score: {{correctCount}}/{{totalCount}}</h2>
        <button mat-raised-button fxFlex (click)="start()">Try Again</button>
      </div>
      <div *ngIf="totalCount<5">
        <progress-bar [progress]="timeLeft" [color]="'#488aff'"></progress-bar>
      </div>
      <div *ngIf="totalCount==5">
        <h3 *ngIf="correctCount>2">Good Job!</h3>
        <h3 *ngIf="correctCount<3">Sorry, better luck next time!</h3>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<div fxLayoutAlign="center">
  <mat-card class="mat-card" *ngIf="totalCount<5 && trivia">
    <mat-card-header>
        <h3 [innerHTML]=trivia.question></h3>
    </mat-card-header>
    <mat-card-content *ngFor="let answer of trivia.answers">
        <button mat-raised-button (click)="answerQuestion(answer.correctAnswer)" fxFlex="100" [innerHtml]=answer.answer></button>
    </mat-card-content>
  </mat-card>
</div>


